.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

*.iml
.idea/
.vscode/

android/.gradle/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
